@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color:#002981;
	color:aliceblue;
}
h1{ /*globales*/
	width: 100%;
	background-color: saddlebrown;
	color:blanchedalmond;
}

@media (max-width:360px){
	body{
		background-color: #006232;
		color:#E0CF85;
	}
	nav,main,footer{
		width: 100%;
	}
	nav{
		height: 50px;
		background-color: #FFC2AD;
	}
	main{
		height: auto;
		color: #FBF7FA;
		background-color: #AFAFF3;
	}
	footer{
		height: 30px;
		background-color: #33334E;
	}
	.flex-conteiner{
		flex-direction: column;
	}
	
	.flex-conteiner > div{
		width: 100%;
	}
	.picture{
		width: 100%;
	}
}

nav,main,footer{
	width: 80%;
	padding: 30px;
}
.flex-conteiner{
	display: flex;
	background-color: brown;
}

.flex-conteiner > div{
	background-color:deeppink;
	margin: 10px;
	paddin: 10px;
}

.picture{
	width: 100%;
	height: auto;
}

@media (max-width: 360px) and (orientation:landscape){
	body{
		background-color: #ED756E;
		text-shadow: 0px 0px ·5B440B;
	}
}

@media screen and (min-width:768px){
	body{
	text-shadow: 0px 0px #FBF7FA;
	background-color: #220001;
	}
	.flex-conteiner{
		justify-content: center;
	}
	
	.flex-conteiner > div {
		width: 30%;
	}
	.picture{
		width: 25%;	
	}
}